# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Arnon Moscona
	email = arnon.moscona@syapse.com
[gui]
        recentrepo = C:/Users/arnon_000/projects/common/monastery/monastery-copycat
        recentrepo = C:/Users/arnon_000/projects/opensource/copycat
        recentrepo = C:/Users/arnon_000/projects/common/math
        recentrepo = C:/Users/arnon_000/projects/common/util
        recentrepo = C:/Users/arnon_000/projects/common/monastery/monastery-api
        recentrepo = C:/Users/arnon_000/projects/common/monastery/monastery-bonehead
[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[core]
	excludesfile = /Users/arnonmoscona/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	  tool = meld
[difftool]
	  prompt = false
[difftool "meld"]
	  trustExitCode = true
	    cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
	  tool = meld
[mergetool]
	  prompt = false
[mergetool "meld"]
	  trustExitCode = true
	    cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[commit]
	template = /Users/arnonmoscona/.stCommitMsg
